<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
  <nav>
  <%= link_to "Sign in", login_path %>
  <%= link_to "Log Out", logout_path, method: :delete %>
   </nav>
    <%= yield %>
  </body>
</html>
